* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    place-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    
}

h2 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 5rem;
    text-align: center;
    color: #9c9c9c;
}

input[type="number"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #6d6d6d;
    outline: none;
}

button {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

span {
    position: relative;
    margin: 3rem 0 0;
    font-size: 2.5rem;
    font-weight: 700;
    display: block;
    text-align: center;
}

span::after {
    content: 'Resultado';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: .125rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 300;
}

section {
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 2rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 1;
    }
    
    h2 {
        font-size: 1rem;
        text-align: center;
        line-height: 1.1;
    }
    
    input[type="number"] {
        font-size: 1rem;
    }
    
    button {
        font-size: 1rem;
    }
    
    span {
        font-size: 1.5rem;
    }
    
    span::after {
        font-size: 0.75rem;
    }
    
}

@media  screen and (max-width: 980px) {
    main {
        padding: 3rem;
    }
}